@font-face {
    font-family: NBInternational;
    src: url(./fonts/NBInternationalProBoo.ttf);
}
@font-face {
    font-family: rejouice;
    src: url(./fonts/Rejouice-Headline.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NBInternational";
}
html, body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    /* background-color: coral; */
    position: relative;
}
#cursor{
    width: 8vw;
    height: 8vw;
    background-color: #ff5f38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}
#cursor h5{
    font-size: 1.2vw;
    font-weight: 500;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 5vw; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3vw 3vw;
}
nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}
#page1-content h1{
    font-family: "rejouice";
    font-weight: 100;
    font-size: 26vw;
    line-height: 27vw;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #FAF8F3;
    padding: 20px;
    font-family: rejouice;
}
.page2-upper{
    display:  flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 20px;
    font-weight: lighter;
}
.page2-lower{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

